@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "UntitledSans", sans-serif;
  font-weight: 400;
}
