.text-link-underline-anim {
  --line: #17141a;
  --color: #17141a;
  text-decoration: none;
  color: var(--color);
  position: relative;

  .text {
    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: var(--background-size, 100%) 1px;
    transition: background-size 0.2s linear var(--background-delay, 0.15s);
    font-size: 16px;
    line-height: 20px;
    transform: translateZ(0);
  }
  .svg {
    vertical-align: middle;
    display: inline;
    line-height: 1;
    width: 0px;
    height: 20px;
    position: relative;
    left: -5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    stroke: var(--line);
    stroke-dasharray: 7.95 30;
    stroke-dashoffset: var(--stroke-dashoffset, 46);
    transition: stroke-dashoffset var(--stroke-duration, 0.15s)
        var(--stroke-easing, linear) var(--stroke-delay, 0s),
      width 0.2s linear;
  }
  @media (min-width: 768px) {
    &:hover,
    &:focus {
      --background-size: 0%;
      --background-delay: 0s;
      --stroke-dashoffset: 26;
      --stroke-duration: 0.3s;
      --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
      --stroke-delay: 0.195s;

      .svg {
        width: 13px;
      }
    }
  }
}
