footer {
	// background: url(../images/footer-bg.png) no-repeat scroll center bottom transparent;
	width: 100%;
	padding-top: 450px;
	padding-bottom: 40px;
	margin-top: -450px;
	position: relative;
	&::before {
		content: "";
		background: url(../images/footer-bg.png) no-repeat scroll center bottom transparent;
		background-size: 100% 1200px;
		height: 100%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -2;

		@include media-breakpoint-down(lg) {
			background-size: auto 1800px;
		}
		@include media-breakpoint-down(md) {
			background-size: auto 2000px;
		}
		@include media-breakpoint-down(sm) {
			background-size: auto 2800px;
		}
	}
	@include media-breakpoint-down(sm) {
		padding-top: 550px;
		margin-top: -600px;
	}

	.footer-boxes {
		display: flex;
		width: 100%;

		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	.footer-box {
		width: 50%;
		display: contents;
		margin-bottom: 140px;

		@include media-breakpoint-down(md) {
			width: 100%;
			display: block;
			margin-bottom: 15px;
		}

		.footer-box-inner {
			background: #f9f9f9;
			border-radius: 6px;
			width: 100%;
			background-repeat: no-repeat;
			background-position: right bottom;
			position: relative;
			overflow: hidden;

			.bg {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
			.inner {
				z-index: 2;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: right bottom;
				position: relative;
				padding: 95px 55px;

				@include media-breakpoint-down(md) {
					padding: 40px;
				}
			}
		}

		&:nth-child(1) {
			.footer-box-inner {
				margin-right: 15px;

				@include media-breakpoint-down(md) {
					margin-right: 0;
				}

				.inner {
					background-image: url(../images/footer-box-1.svg);
					background-size: 40%;

					@include media-breakpoint-down(lg) {
						background-size: 50%;
					}
					@include media-breakpoint-down(md) {
						background-size: 25%;
					}
				}
			}
		}

		&:nth-child(2) {
			.footer-box-inner {
				margin-left: 15px;
				position: relative;

				@include media-breakpoint-down(md) {
					margin-left: 0;
				}

				.inner {
					background-image: url(../images/footer-box-2.svg);
					background-size: 60%;

					@include media-breakpoint-down(lg) {
						background-size: 80%;
					}
					@include media-breakpoint-down(md) {
						background-size: 40%;
					}
				}

				.bg {
					position: absolute;
					content: "";
					top: -5px;
					left: -5px;
					right: -5px;
					bottom: -5px;
					background-image: url(../images/footer-box-bg.png);
					background-repeat: no-repeat;
				}
			}
		}

		.title {
			font-family: $ruberoid;
			font-weight: bold;
			font-size: 52px;
			color: #000000;
			letter-spacing: 0;
			line-height: 1.1em;
			margin-bottom: 30px;

			@include media-breakpoint-down(lg) {
				font-size: 42px;
			}
			@include media-breakpoint-down(md) {
				font-size: 32px;
			}
		}

		.text {
			white-space: pre-line;
			font-family: $inter;
			font-size: 18px;
			color: #414141;
			letter-spacing: -0.1px;
			line-height: 26px;
			margin-bottom: 110px;
			width: 70%;

			@include media-breakpoint-down(lg) {
				margin-bottom: 150px;
			}

			@include media-breakpoint-down(md) {
				font-size: 16px;
				margin-bottom: 30px;
			}
		}

		.footer-box-inner-bottom {
			position: absolute;
			left: 55px;
			bottom: 95px;

			@include media-breakpoint-down(md) {
				left: unset;
				bottom: unset;
				position: relative;
			}

			.socials {
				margin-top: 30px;
				img {
					width: 32px;
					margin-right: 8px;
				}
			}
		}
	}

	.footer-boxes-2 {
		.footer-title {
			color: #000;
			font-family: $ruberoid;
			font-size: 52px;
			font-style: normal;
			font-weight: bold;
			line-height: 1.1em;
			text-align: center;
			margin-bottom: 65px;
			@include media-breakpoint-down(lg) {
				font-size: 36px;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: 55px;
			}
		}
		.footer-box-wrapper {
			display: flex;
			width: 100%;

			@include media-breakpoint-down(md) {
				display: block;
			}
			.footer-box-2 {
				width: 50%;
				display: contents;
				margin-bottom: 140px;

				@include media-breakpoint-down(md) {
					width: 100%;
					display: block;
					margin-bottom: 15px;
				}

				.footer-box-inner {
					border-radius: 14px;
					border: 1px solid #e9e5f0;
					background: #fff;
					width: 100%;
					background-repeat: no-repeat;
					background-position: right bottom;
					position: relative;
					overflow: hidden;

					.bg {
						position: absolute;
						left: 0;
						top: 0;
						z-index: 1;
					}
					.inner {
						z-index: 2;
						width: 100%;
						height: 100%;
						background-repeat: no-repeat;
						background-position: right top;
						position: relative;
						padding: 35px 36px 40px 36px;
						display: flex;
						flex-direction: column;

						@include media-breakpoint-down(md) {
							padding: 40px;
						}
					}
				}

				&:nth-child(1) {
					.footer-box-inner {
						margin-right: 15px;

						@include media-breakpoint-down(md) {
							margin-right: 0;
						}

						.inner {
							background-image: url(../images/footer-box2-1.png);
							background-size: 30%;
							display: flex;
							flex-direction: column;

							@include media-breakpoint-down(lg) {
								background-size: 30%;
							}
							@include media-breakpoint-down(md) {
								background-size: 30%;
							}
							@include media-breakpoint-down(sm) {
								background-size: 40%;
							}
						}
					}
				}

				&:nth-child(2) {
					.footer-box-inner {
						margin-left: 15px;
						position: relative;

						@include media-breakpoint-down(md) {
							margin-left: 0;
						}

						.inner {
							background-image: url(../images/footer-box2-2.png);
							background-size: 30%;

							@include media-breakpoint-down(lg) {
								background-size: 30%;
							}
							@include media-breakpoint-down(md) {
								background-size: 30%;
							}
							@include media-breakpoint-down(sm) {
								background-size: 40%;
							}
						}
					}
				}

				.title {
					color: #000;
					font-family: $inter;
					font-size: 30px;
					font-style: normal;
					font-weight: bold;
					line-height: normal;
					letter-spacing: -0.36px;
					margin-bottom: 30px;
					@include media-breakpoint-down(sm) {
						font-size: 26px;
						max-width: 200px;
					}
				}

				.text {
					white-space: pre-line;
					color: #414141;
					font-family: $inter;
					font-size: 18px;
					font-style: normal;
					font-weight: 300;
					line-height: 28px;
					letter-spacing: -0.081px;
					margin-bottom: 20px;
					width: 70%;
					@include media-breakpoint-down(sm) {
						font-size: 16px;
						width: 90%;
					}
				}

				.footer-box-inner-bottom {
					margin-top: auto;
				}
			}
		}
	}

	.title {
		font-family: $ruberoid;
		font-weight: bold;
		font-size: 40px;
		color: #ffffff;
		letter-spacing: 0;
		line-height: 48px;
		margin-bottom: 20px;
	}

	.col-title {
		margin-bottom: 20px;
		font-family: $ruberoid;
		font-weight: bold;
		font-size: 20px;
		color: #ffffff;
		letter-spacing: 0;
		line-height: 40px;
	}

	nav {
		display: flex;
		@include media-breakpoint-down(sm) {
			display: block;
		}
		ul {
			list-style: none;
			padding: 0;
			margin-right: 70px;
			@include media-breakpoint-down(md) {
				margin-right: 40px;
			}
			@include media-breakpoint-down(sm) {
				margin-right: 0px;
				margin-bottom: 40px;
			}

			li {
				font-family: $ruberoid;
				font-weight: 500;
				font-size: 14px;
				color: #ffffff;
				letter-spacing: 0;
				display: block;
				&:not(:last-child) {
					margin-bottom: 8px;
				}

				a {
					text-decoration: none;
					transition: 300ms all ease-in-out;

					&:hover {
						color: darken(#fff, 20%);
					}
				}
			}
		}
	}
	.input-group-text {
		background: #fff;
		height: 50px;

		input,
		.form-control {
			background: #fff;
			outline: none;
		}
	}
	input#email {
		padding: 15px 25px;
	}

	.input-group-append {
		.input-group-text {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			background: #fff;
			padding: 0 10px;

			select {
				height: 100%;
				border: none;
				outline: none;
				-webkit-appearance: none;
			}
		}
	}

	p {
		opacity: 0.75;
		font-family: $ruberoid;
		font-weight: 500;
		color: #fff;
		text-align: center;
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		max-width: 500px;
	}

	.copyright {
		font-family: $ruberoid;
		font-weight: 600;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: 0;

		a {
			text-decoration: none;

			&:hover {
				color: inherit;
			}
		}
	}

	.socials {
		margin-top: 25px;
		color: #fff;

		a {
			margin-right: 10px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.3);
			line-height: 40px;
			text-align: center;
			display: inline-block;
			color: #ffffff;
		}
		img {
			width: 40px;
		}
	}
}

.hidden-field {
	position: absolute;
	left: -5000px;
}
