.home-hero-section {
	padding-bottom: 220px;
	position: relative;

	@include media-breakpoint-down(sm) {
		// padding-top: 120px;
		// padding-bottom: 180px;
		height: 90vh;
		max-height: 932px;
		display: flex;
		align-items: center;
		padding: 0px;
		.container {
			padding-bottom: 30px;
		}
	}

	h1 {
		margin-bottom: 30px;
		max-width: 900px;
		width: 100%;
		font-size: 92px;
		font-weight: 700;
		line-height: 90px;
		letter-spacing: -4px;
		text-align: center;
		position: relative;

		@include media-breakpoint-down(lg) {
			font-size: 70px;
			line-height: 1em;
		}

		@include media-breakpoint-down(md) {
			font-size: 60px;
		}

		@include media-breakpoint-down(sm) {
			font-size: 43px;
			max-width: 350px;
			letter-spacing: -2px;
		}
	}

	.text {
		font-family: $ruberoid;
		color: #000000;
		width: 100%;
		max-width: 680px;
		margin-bottom: 50px;

		font-size: 20px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0.22px;
		text-align: center;

		@include media-breakpoint-down(sm) {
			font-size: 17px;
			line-height: 21px;
			width: 100%;
			margin-bottom: 30px;
			max-width: 350px;
			text-wrap: pretty;
		}
	}

	.button-simple,
	.button-white,
	.button-icon,
	.button-external {
		margin-right: 20px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}
}
