.gradient-text-primary {
  background: linear-gradient(
    84deg,
    #da1bca,
    #7b2bf9
  ); /* Define your gradient */
  -webkit-background-clip: text; /* Clips the background to the text */
  -webkit-text-fill-color: transparent; /* Makes the text transparent */
}

.gradient-text-secondary {
  background: linear-gradient(
    84deg,
    #da1bca,
    #7b2bf9,
    #7b2bf9,
    #36cef0,
    #f7cc97
  ); /* Define your gradient */
  -webkit-background-clip: text; /* Clips the background to the text */
  -webkit-text-fill-color: transparent; /* Makes the text transparent */
}
