.events-page {
	min-height: 60vw;
	position: relative;
	z-index: 1;
	@include media-breakpoint-down(md) {
		min-height: 520px;
	}

	.hero {
		padding-top: 20px;
		padding-bottom: 0px;
		.main {
			margin-bottom: 30px;
		}
		.text {
			font-family: $ruberoid;
			font-weight: 500;
			font-size: 18px;
			color: #000000;
			letter-spacing: 0.22px;
			line-height: 26px;
			max-width: 608px;
			text-wrap: balance;
			margin-bottom: 0px;

			@include media-breakpoint-down(md) {
				font-size: 14px;
				line-height: 21px;
				width: 100%;
			}
		}
	}
	.featured-event {
		padding-top: 40px;
		padding-bottom: 37px;

		.event-description {
			margin-top: 16px;
			margin-bottom: 16px;
		}
	}
	.event-list {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.event-card {
		border-radius: 8px;
		background-color: #fff;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
		display: flex;
		flex-direction: column;
		min-width: 100%;
		width: 100%;
		padding: 8px;
		border: 1px solid #e3e3e3;
	}

	.event-image {
		border-radius: 8px;
		background-color: #ebebeb;
		width: 100%;
		background-size: cover;
		background-position: center;
		height: auto;
		aspect-ratio: 3/2;

		img {
			object-fit: cover;
		}
	}

	.event-content {
		display: flex;
		width: 100%;
		flex-direction: column;
		padding: 0 28px 12px;
		justify-content: space-between;
		flex-grow: 1;
	}

	.event-title {
		font: 700 24px $ruberoid, sans-serif;
		color: #000;
		margin-bottom: 0;
		&.small {
			font-size: 24px;
			line-height: 33px;
		}
	}

	.event-description {
		font: 400 12px/17px $inter, -apple-system, Roboto, Helvetica, sans-serif;
		color: #000;
		&.small {
			font-size: 12px;
			line-height: 17px;
		}
	}

	.divider {
		min-height: 1px;
		width: 100%;
		border: 1px solid #ececec;
		margin-bottom: 24px;
		&.small {
			margin-top: 12px;
		}
	}

	.event-details {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: start;
		justify-content: flex-start;
		font-size: 14px;
		gap: 20px 20px;
	}

	.event-info {
		display: flex;
		gap: 10px;
		font-family: $inter, sans-serif;
		color: #000;
		font-weight: 600;
		line-height: 24px;
	}

	.event-date,
	.event-location {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.icon {
		width: 16px;
		height: 16px;
		margin-bottom: 3px;
	}

	.small-button {
		padding: 10px 16px;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.2px;
	}

	@media (max-width: 991px) {
		.event-card {
			max-width: 100%;
		}
	}

	.event-list-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		gap: 13px;
	}

	@include media-breakpoint-down(xl) {
		.event-list-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@include media-breakpoint-down(md) {
		.event-list-container {
			grid-template-columns: 1fr;
		}
	}

	.featured-events-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 10px;
	}

	.featured-event-container {
		display: flex;
		border-radius: 8px;
		background-color: #fff;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
		width: 100%;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 8px;
		border: 1px solid #e3e3e3;
		.event-content {
			display: flex;
			min-width: 240px;
			flex-direction: column;
			justify-content: space-between;
			flex: 1;
			flex-basis: 50%;
		}
	}

	.event-banner {
		border-radius: 8px;
		background-color: #ebebeb;
		width: 100%;
		flex-basis: 50%;
		min-height: 400px;
		aspect-ratio: 3/2;

		@include media-breakpoint-down(xl) {
			min-height: auto;
			flex-basis: 100%;
		}
		img {
			object-fit: cover;
		}
	}

	.event-content {
		min-width: 240px;
		padding: 24px 44px 24px;
		@include media-breakpoint-down(md) {
			max-width: 100%;
			padding: 20px;
		}
		@include media-breakpoint-down(sm) {
			padding: 20px 10px;
		}
		&.small {
			padding: 16px 12px;
		}
	}

	.event-tags {
		display: flex;
		width: 100%;
		align-items: flex-start;
		gap: 12px;
		color: #414141;
		text-transform: uppercase;
		flex-wrap: wrap;
		font: 500 12px/24px $inter, -apple-system, Roboto, Helvetica, sans-serif;
		margin-bottom: 20px;
	}

	.tag {
		border-radius: 48px;
		background-color: #e9e9e9;
		padding: 0 8px;
	}

	.event-info {
		display: flex;
		width: 100%;
		flex-direction: column;
		color: #000;
	}

	.event-title {
		font: 700 52px/1.1em $ruberoid, sans-serif;
	}

	.event-description {
		font: 400 16px/26px $inter, -apple-system, Roboto, Helvetica, sans-serif;
	}

	.event-details {
		border-color: #ececec;
		border-top-width: 1px;
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.event-meta {
		display: flex;
		align-items: center;
		gap: 20px;
		color: #000;
		font: 600 14px/24px $inter, -apple-system, Roboto, Helvetica, sans-serif;
	}

	.eventDate,
	.eventLocation {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.read-more-btn {
		border-radius: 6px;
		background-color: #000;
		color: #fff;
		text-align: center;
		letter-spacing: 0.2px;
		width: 122px;
		padding: 10px 16px;
		font: 700 16px $ruberoid, sans-serif;
		border: none;
		cursor: pointer;
	}

	@media (max-width: 991px) {
		.featured-event {
			max-width: 100%;
		}

		.event-tags {
			max-width: 100%;
			white-space: initial;
		}

		.event-info {
			max-width: 100%;
		}

		.event-title {
			max-width: 100%;
			font-size: 32px;
		}

		.event-description {
			max-width: 100%;
		}

		.event-details {
			max-width: 100%;
			gap: 20px 100px;
		}
	}

	.community-events-section {
		padding-top: 60px;
		padding-bottom: 0px;

		@include media-breakpoint-down(md) {
			padding-top: 10px;
		}

		.event-section-tiltle {
			margin-bottom: 40px;
			@include media-breakpoint-up(md) {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
	}
	.submit-event-button {
		padding: 10px 16px;
		background: #ffffff;
		border: 1px solid #e3e3e3;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03);
		border-radius: 8px;
		height: fit-content;

		font-family: $ruberoid;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.2px;
		color: #000;
		transition: background-color 0.3s ease;
		&:hover {
			background: #f1f1f1;
			color: #000;
		}
		i {
			line-height: 19px;
		}
	}
}
