.what-is-celestia {
	padding-top: 0px;
	position: relative;
	z-index: 50;
	@include media-breakpoint-down(sm) {
		padding-top: 20px;
	}

	h2,
	h3 {
		font-size: 36px;
		font-style: normal;
		line-height: 1.22em;
		letter-spacing: -0.643px;
		margin-bottom: 20px;
		@include media-breakpoint-down(md) {
			font-size: 32px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 26px;
			letter-spacing: 0.1px;
		}
	}

	main {
		padding: 0;
	}

	.lead-text {
		font-family: $inter;
		font-size: 18px;
		color: #000000;
		letter-spacing: -0.1px;
		line-height: 27px;
		width: 80%;
		max-width: 840px;
		margin-bottom: 50px;

		@include media-breakpoint-down(sm) {
			font-size: 15px;
			line-height: 23px;
			width: 100%;
			margin-bottom: 25px;
		}
	}

	.card-section {
		background-color: rgba(106, 37, 215, 0.05);
		background-size: 45%;
		border: 1px solid rgba(186, 186, 186, 0.2);
		border-radius: 20px;
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);
		overflow: hidden;
		padding: 0;
		margin: 0 0 120px 0;
		@include media-breakpoint-down(lg) {
			margin-bottom: 64px;
		}
		.text-box {
			// max-width: 630px;
			padding: 70px 20px 70px 70px;
			@include media-breakpoint-down(lg) {
				padding: 50px 40px 50px 50px;
				max-width: 100%;
			}
			@include media-breakpoint-down(sm) {
				padding: 35px;
			}
			.subtitle {
				font-family: $inter;
				font-size: 24px;
				font-weight: 600;
				color: #000000;
				letter-spacing: -0.15px;
				line-height: 32px;
				margin-bottom: 8px;
				@include media-breakpoint-down(sm) {
					font-size: 18px;
					line-height: 20px;
				}
			}
			p {
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 32px;
				color: #000000;
				font-family: $inter;
				@include media-breakpoint-down(sm) {
					font-size: 18px;
					line-height: 26px;
				}
			}
		}
		.image-box--cover {
			height: inherit;
			background-repeat: no-repeat;
			background-image: url(../images/what-is-celestia/celestia-modular-infographics.png);
			background-position: 92% 70%;
			background-size: 90%;
			@include media-breakpoint-down(xxl) {
				height: 470px;
				background-position: 100% 65%;
				background-size: 95%;
			}
			@include media-breakpoint-down(xl) {
				height: 470px;
				background-position: 100% 110%;
				background-size: 95%;
			}
			@include media-breakpoint-down(lg) {
				height: 650px;
				background-position: 92% 100%;
				background-size: 85%;
			}
			@include media-breakpoint-down(md) {
				height: 500px;
				background-position: 80% 100%;
				background-size: 90%;
			}
			@include media-breakpoint-down(sm) {
				background-position: -30% 100%;
				background-size: 120%;
				height: 400px;
			}
		}
	}

	.hero-section {
		padding: 80px 0 80px 0;
		h1 {
			margin-bottom: 0px;
			max-width: 100%;
		}
	}

	.tell-me-about-celestia {
		padding: 0;
		@include media-breakpoint-down(lg) {
			margin-bottom: 70px;
		}
		.title {
			max-width: 250px;
		}
		.image-box--different {
			height: inherit;
			.image-wrapper {
				width: 100%;
				height: 100%;
			}
		}
	}

	.what-is-a-modular-blockchain {
		padding: 100px 0 0 0;
		@include media-breakpoint-down(lg) {
			margin-bottom: 70px;
			padding-top: 40px;
		}
		.title {
			margin-bottom: 0px;
		}
	}

	.data-availability-sampling {
		padding: 100px 0 0 0;
		.image-box--different {
			padding: 0 30px;
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: 70px;
			padding-top: 40px;
			.image-box--different {
				padding: 10px 10px;
			}
		}
		.title {
			margin-bottom: 0px;
		}
	}

	.what-is-data-availability {
		padding: 100px 0 0 0;
		@include media-breakpoint-down(lg) {
			margin-bottom: 70px;
		}
		.image-box--analogy {
			display: flex;
			justify-content: center;
			align-items: center;
			height: inherit;
			padding: 0 47px;
			@include media-breakpoint-down(lg) {
				background-position: 50%;
				padding: 0px 20px;
				.image-wrapper {
					width: 100%;
					height: 100%;
					max-width: 450px;
				}
			}
		}
	}

	.what-are-rollups {
		margin-bottom: 80px;
		padding: 0;
		@include media-breakpoint-down(lg) {
			margin-bottom: 70px;
		}
		.image-box--different {
			height: inherit;
			@include media-breakpoint-down(lg) {
				padding: 0 20px;
			}
			.image-wrapper {
				width: 100%;
				height: 100%;
			}
		}
	}

	.modular-blockchain-section {
		margin-bottom: 120px;
		padding: 0;
		@include media-breakpoint-down(lg) {
			margin-bottom: 80px;
		}
		.image-box--modular {
			display: flex;
			justify-content: center;
			align-items: center;
			height: inherit;
			padding: 0 47px;
			.image-wrapper {
				width: 100%;
				height: 100%;
				max-width: 524px;
			}
			@include media-breakpoint-down(lg) {
				background-position: 50%;
				padding: 0 16px;
				.image-wrapper {
					width: 100%;
					max-width: 600px;
				}
			}
		}
	}

	.whats-it-like-to-build-on-Celestia {
		padding: 80px 0 0 0;
		@include media-breakpoint-down(sm) {
			padding: 0 0 80px 0;
		}
		.title {
			margin-bottom: 0px;
		}
		.why-use-card {
			height: 100%;
			background: rgba(255, 255, 255, 0.35);
			-webkit-backdrop-filter: blur(45px);
			backdrop-filter: blur(35px);
			border: 1px solid #e9e5f0;
			border-radius: 15px;
			padding: 35px;
			transition: background-color ease-in-out 200ms;
			&:hover {
				background: #ffffff;
			}
			@include media-breakpoint-down(md) {
				background: #ffffff;
			}
		}
		.why-use-title {
			font-family: $inter;
			font-size: 20px;
			line-height: 20px;
			color: #000000;
			letter-spacing: -0.3px;
			font-weight: 600;
		}
		.why-use-text {
			font-family: $inter;
			font-size: 15px;
			line-height: 23px;
			color: #414141;
			letter-spacing: -0.1px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		.col-z-index {
			z-index: 1;
		}

		.image-box--why {
			display: flex;
			justify-content: center;
			align-items: center;
			height: inherit;
			z-index: 0;
			@include media-breakpoint-down(md) {
				margin-bottom: 40px;
			}
			.gatsby-image-wrapper {
				height: 64%;
				transform: translateX(-20%) scale(1);
				overflow: visible;
				@include media-breakpoint-down(xl) {
					height: 52%;
					transform: translateX(-30%);
					width: 125%;
				}
				@include media-breakpoint-down(lg) {
					transform: translateX(-32%);
					width: 120%;
				}
				@include media-breakpoint-down(md) {
					height: 100%;
					transform: translateX(0);
					width: 100%;
					margin-right: 20px;
				}
				img {
					object-position: right;
					@include media-breakpoint-down(xl) {
						width: 140%;
					}
					@include media-breakpoint-down(lg) {
						width: 120%;
					}
					@include media-breakpoint-down(md) {
						width: 100%;
					}
				}
			}
		}

		.link-wrapper {
			margin-top: 20px;
			.link {
				font-family: $ruberoid;
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 1em;
				padding: 8px 0;
				margin: -8px 0;
				color: #000000;
				transition: all 0.2s ease-in-out;
				box-shadow: none;
				&:hover {
					color: #393939;
					& svg {
						margin-left: 16px;
					}
				}
			}
			svg {
				margin-left: 8px;
				transition: all 0.2s ease-in-out;
				will-change: margin;
				margin-bottom: 2px;
			}
		}
	}

	.celestia-community {
		padding: 0px;
		.section-title {
			text-align: center;
			font-size: 52px;
			font-weight: bold;
			line-height: 1.1em;
			margin-bottom: 70px;
			@include media-breakpoint-down(md) {
				font-size: 42px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 36px;
				margin-bottom: 60px;
			}
		}
		.modularism-not-maximalism {
			margin-bottom: 120px;
			padding: 0;
			@include media-breakpoint-down(lg) {
				margin-bottom: 80px;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: 40px;
			}

			.image-box--availability {
				display: flex;
				justify-content: center;
				align-items: center;
				height: inherit;
				padding: 0 47px;
				.image-wrapper {
					width: 100%;
					height: 100%;
					max-width: 420px;
				}
				@include media-breakpoint-down(lg) {
					background-position: 50%;
					padding: 0 30px;
					.image-wrapper {
						width: 90%;
						max-width: 450px;
					}
				}
			}
		}

		.layer-0-social-consensus {
			margin-bottom: 80px;
			padding: 0;
			@include media-breakpoint-down(lg) {
				margin-bottom: 60px;
			}
			.image-box--rollups {
				display: flex;
				justify-content: center;
				align-items: center;
				height: inherit;
				padding: 0 47px;
				@include media-breakpoint-down(lg) {
					background-position: 50%;
					padding: 0 12px;
					.image-wrapper {
						width: 100%;
						height: 100%;
						max-width: 500px;
					}
				}
			}
		}
	}

	.toc-2 {
		position: sticky;
		top: 100px;
		left: 0;
		width: 100%;
		float: left;
		margin-bottom: 40px;

		.category-menu {
			@include media-breakpoint-down(lg) {
				max-height: 0;
				overflow: hidden;
				transition: 500ms all ease-in-out;
				margin-top: 0;

				&.show {
					max-height: 200vh;
					margin-top: 25px;
					margin-bottom: 25px;
				}
			}
		}

		.mobile-toc {
			font-family: $ruberoid;
			font-weight: bold;
			font-size: 18px;
			color: #000000;
			letter-spacing: 0;
			display: none;
			cursor: pointer;
			background: rgba(246, 246, 246, 0.7);
			backdrop-filter: blur(10px);
			border-radius: 6px;
			padding: 25px;
			margin-bottom: 10px;

			@include media-breakpoint-down(lg) {
				display: flex;
				align-items: center;
			}

			#mobile-category {
				width: 22px;
				height: 22px;
				float: right;
				display: inline-block;
				transition: 300ms all ease-in-out;
			}

			.dropdown-button {
				width: 26px;
				height: 26px;
				padding: 6px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #ededed;
				border-radius: 4px;
				margin-left: auto;
			}

			&.show {
				#mobile-category {
					transform: rotate(180deg);
				}
			}
		}

		.toc-inner {
			background: rgba(246, 246, 246, 0.7);
			border-radius: 6px;
			-webkit-backdrop-filter: blur(20px);
			backdrop-filter: blur(20px);
			padding: 35px;
			overflow: auto;

			@include media-breakpoint-down(xl) {
				padding: 35px 35px 35px 16px;
			}

			@include media-breakpoint-down(lg) {
				padding: 0 20px;
			}

			.toc-title {
				font-family: $ruberoid;
				font-size: 16px;
				font-style: normal;
				font-weight: bold;
				line-height: normal;
				margin-bottom: 20px;
				margin-left: 9px;
				@include media-breakpoint-down(lg) {
					display: none;
				}
			}

			.category-menu {
				.group {
					&:first-of-type {
						.group-title {
							margin-top: 0;
							padding-top: 0;
							border: none;
						}
					}

					&:nth-child(1) {
						.group-title {
							margin-top: 0;
							padding-top: 0;
							border: none;
						}
					}
				}
			}

			.group-title {
				font-family: $ruberoid;
				font-weight: bold;
				font-size: 18px;
				color: #000000;
				letter-spacing: 0;
				cursor: pointer;
				margin-bottom: 10px;

				border-top: 1px solid #dcdcdc;
				padding-top: 25px;
				margin-top: 10px;

				svg {
					width: 22px;
					height: 22px;
					float: right;
					display: inline-block;
					transition: 300ms all ease-in-out;
				}
			}

			.subcategory-title {
				font-weight: 500;
				font-family: $ruberoid;
				margin-bottom: 10px;
				font-size: 15px;
				cursor: pointer;

				&:hover {
					color: $purple;
				}
			}

			.subcategory-items {
				max-height: 0;
				overflow: hidden;

				&.opened {
					max-height: unset;
				}
			}

			.group-items {
				transition: 300ms all ease-in-out;
				.article-title {
					font-family: $ruberoid;
					font-weight: 500;
					font-size: 13px;
					color: #414141;
					letter-spacing: 0;
					margin-bottom: 10px;
					padding-left: 10px;

					&:hover {
						color: $purple;
					}

					.toc-item {
						div:first-of-type {
							a {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}

		.article-link {
			&.active {
				font-weight: bold;
			}
		}

		a {
			font-family: $ruberoid;
			font-weight: 500;
			font-size: 13px;
			letter-spacing: 0;
			padding: 12px 0 12px 25px;
			display: inline-block;
			color: #414141;
			line-height: 1.3em;
			position: relative;
			&:before {
				height: 100%;
				width: 3px;
				background: #eaeaea;
				position: absolute;
				left: 8px;
				content: "";
				z-index: 1;
			}
		}

		div.selected {
			position: relative;
			a {
				font-weight: bold;
				color: $purple;
			}
			&:before {
				height: 100%;
				width: 3px;
				background: $purple;
				position: absolute;
				left: 8px;
				border-radius: 9999px;
				content: "";
				z-index: 2;
			}
		}
	}
}

.what-is-celestia + footer {
	@include media-breakpoint-down(lg) {
		padding-top: 400px;
	}
	@include media-breakpoint-down(md) {
		padding-top: 600px;
	}
}
