.slick-list {
  overflow: visible;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  left: -16px;

  @media (min-width: 768px) {
    left: 0;
  }
}

.slick-slide {
  align-self: stretch;
  height: auto;

  > div {
    align-self: stretch;
    height: 100%;

    > a {
      align-self: stretch;
      height: 100%;
    }
  }
}

.slick-with-gap {
  .slick-slide {
    padding: 0 0.5rem; /* Adds padding to create a gap */
  }

  .slick-list {
    margin: 0 -0.5rem; /* Apply negative margin to prevent clipping */
  }
}
