.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  left: -16px;

  @media (min-width: 768px) {
    left: 0;
  }
}

.slick-slide {
  align-self: stretch;
  height: auto;
  width: 100% !important;
  > div {
    // align-self: stretch;
    // height: 100%;
    width: 100%;

    > a {
      align-self: stretch;
      // height: 100%;
      width: 100%;
    }
  }
}
