.frosted-container {
  &:before {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    border-radius: 40px;
    backdrop-filter: blur(5px);
    // filter: blur(100px);
  }
}
